.portfolio {
    background-color: #f5f5f5;
    padding-top: 1vh;
    box-shadow: 0 2px 10px #808080;
    width: 90%;
}
.portfolio h1, .portfolio h2 {
    font-family: 'Handlee', cursive;
}
.portfolio h1 {
    color: #b96d49;
}
.portfolio-slider {
    width: 100%;
}
.portfolio img {
    width: 100%;
    box-shadow: 0 2px 10px #808080;
}
.slide {
    height: 100%;
}
figure {
    margin: 0;
    padding: 5vh 0;
}
.portfolio button {
    cursor: pointer;
    background-color: #b96d49;
    height: 6vh;
    border-radius: 1vw;
    color: white;
}
.portfolio a {
    color: #b96d49;
}
.portfolio a:visited {
    color: #b96d49;
}
@media screen and (min-width: 801px) {
    .portfolio {
        height: 80vh;
        margin: 20vh auto;
    }
    .portfolio-slider {
        height: 40vh;
        display: inline-flex;
    }
    .slide {
        width: 100%;
    }
    .portfolio img {
        max-width: 100px; 
        max-height: 100px;
    }
    .portfolio button {
        width: 15vw;
    }
}
@media screen and (max-width: 800px) {
    .portfolio {
        width: 90%;
        margin: 20vh auto;
        font-size: small;
    }
    // .portfolio img {
    //     max-width: 200px; 
    //     max-height: 200px;
    // }
    // .portfolio-slider {
    //     height: 100%;
    //     display: flex;
    //     overflow-x: auto;
    // }
    // .slide {
    //     width: 70%;
    //     flex-shrink: 0;
    // }
    // .portfolio button {
    //     width: 20vw;
    // }
}